<div class="card">
  <div class="card-body">
      <form  (ngSubmit)="agregarAdministrador()">
          <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Nombre:</label>
              <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nombre"
                  name="nombre" [(ngModel)]="administrador.nombre">

              <label for="exampleFormControlInput1" class="form-label">Apellido Paterno:</label>
              <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Apellido Paterno"
                  name="apellidoP" [(ngModel)]="administrador.apellidoP">

              <label for="exampleFormControlInput1" class="form-label">Apellido Materno:</label>
              <input type="text" class="form-control" id="exampleFormControlInput1"
                  placeholder="Categoria del producto" name="apellidoM" [(ngModel)]="administrador.apellidoM">

              <label for="exampleFormControlInput1" class="form-label">Fecha de Ingreso:</label>
              <input type="date" class="form-control" id="exampleFormControlInput1" placeholder="Fecha de Ingreso"
                  name="fechaIngreso" [(ngModel)]="administrador.fechaIngreso">

              <label for="exampleFormControlInput1" class="form-label">Salario</label>
              <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="Salario" name="salario"
                  [(ngModel)]="administrador.salario">

              <label for="exampleFormControlInput1" class="form-label">Identificador</label>
              <input type="text" class="form-control" id="exampleFormControlInput1"
                  placeholder="Identificador" name="identificador" [(ngModel)]="administrador.identificador">

          </div>

          <div class="d-grid gap-2 col-6 mx-auto">
              <button class="btn btn-outline-dark" 
                  type="submit">Guardar</button>
          </div>
      </form>
  </div>
</div>